html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Roboto Condensed, serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@font-face{
  display: swap;
  font-family:FontAwesome;
  src: url(/static/fontawesome-webfont-20fd1704ea223900efa9fd4e869efb08.woff2) format("woff2");
}

.top-header{
   display: grid;
   font-size: 16px;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 15px;
}

.nav-item{
  margin-bottom: 0;
}
.navbar-nav{
  margin-left: auto;
}

.hero-caption {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.tp-caption.title-slide{
  color: rgb(127, 25, 23);
  line-height: 33px;
  margin: 30px 0 20px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}
.tp-caption.title-slide1{
  color: rgb(251, 40, 86);
  line-height: 52px;
  margin: 30px 0 20px;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 9px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}
.tp-banner-container{max-height: 400px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden !important;
    padding: 0;
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff !important  ;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.callback{
  background: #fb2856;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.top-header div:nth-child(2){
        overflow: hidden;
        text-align: center;
    font-weight: 900;
}
.top-header div:last-child{
  text-align: right;
}
.marquee {
   -moz-animation: marquee 10s linear infinite;
        -webkit-animation: marquee 10s linear infinite;
        animation: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      @-webkit-keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      @keyframes marquee {
        0% {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%)
        }
        100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }

      .button-slider-2n {
    margin-top: 50px;
}

.button-slider.button-slider-2 {
    color: #fff;
    background: #7F1917;
    padding: 10px 15px;
    cursor: pointer;
    line-height: 28px;
    font-size: 22px;
    text-decoration: none;
}
.footer-widgets {
    padding: 80px 0 0 0;
    
}
.footer-about{
  margin-bottom: 20px;
}
p{
  line-height: 1.8;
}
.widget-title {
    font-size: 18px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #666666;
    padding-bottom: 7px;
    display: inline-block;
}
.footer-widgets  .widget-title {
    color: #fff;
    border-bottom: none;
    padding-bottom: 0;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.two-columns .object {
    width: 50%;
    padding: 0 9px;
}
.two-columns i {
    font-size: 14px;
    color: #fff;
    width: 18px;
}
#text01{
  margin-bottom: 60px;
  font-family: 'Roboto',sans-serif;
}
 .footer-content {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    padding: 40px 0;
}
.parallax{
  padding-top: 80px;
  padding-bottom: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../images/escortslider2.jpg);
  text-align: center;
}
.page-title-heading {
    margin-bottom: 70px;
}
.page-title-heading .title {
    color: white;
    font-family: "Dosis",sans-serif;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    text-transform: uppercase;
}
.breadcrumbs {
    font-family: "Roboto",sans-serif;
    color: #fb2856;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.breadcrumbs ul{
  list-style: none;
}
.breadcrumbs ul li {
    display: inline-block;
    float: left;
    color: white;
    font-size: 15px;
}
.breadcrumbs ul li a {
    margin: 0 24px;
    color: white;
    position: relative;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    text-decoration: none;
}
.breadcrumbs ul li:first-child a {
    margin-left: 10px;
}
.breadcrumbs ul li:last-child {
    margin-left: 22px;
}
.breadcrumbs ul li a:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    right: -30px;
    bottom: -2px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h1.title, h2.title{
   display: block;
   text-transform: uppercase;
   margin: 30px 0 20px;
   text-align: center;
   font-weight: bold;
   font-size: 35px; 
}
.desc-img h4.title{
    margin: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}
.content p{
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.button.white {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 25px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #fb2856;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    }
.images-single {
    margin-bottom: 50px;
    text-align: center;
}    
.images-single p,.images-single h4{
  text-align: left;
}
.pad60{
  padding: 60px 0;
}
.title-section {
    text-align: center;
    margin: 0 0 40px 0;
}
.dropcap {
    height: 50px;
    background-color: #fb2856;
    line-height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    margin: 25px 20px 10px 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
h5.hederinfo1 {
    background-color: #fb2856;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
    border-radius: 12px;
    margin-bottom: 20px;
}
.flat-bg-white a:hover{
  text-decoration: none;
}
a.homeinfo{
  text-decoration: none;
}
.flat-bg-white{
  background: #fff;
}
.title-section p{
  font-size: 14px;
}
.member-detail h3 {
    margin: 30px 0 0 0;
    font-size: 18px;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-container ul li{
  margin-bottom: 0;
}
.widget-container ul li a {
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    padding-left: 25px;
    text-transform: capitalize;
    color: #fff;
}
.widget-container ul li a:after {
    position: absolute;
    content: "→";
    color: #fff;
    left: 0;
    top: 0;
    font-size: 13px;
}
.owl-nav {
    text-align: center;
}
 .owl-prev, .owl-next {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    background: rgba(0,0,0,.05) !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.owl-prev span, .owl-next span{
  font-size: 28px;
  position: relative;
  top: -3px;
}
.box{
  background: #fff;
}
.box h3,.serv h3{
  background-color: #fb2856;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  transition: 0.4s;
  text-shadow: 2px 2px 2px black;
  font-size: 17px !important;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  line-height: 45px;  
}
.box .panel{
  padding: 0 18px 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.go-top{
  background-color: #fb2856;
  width: 50px;
  height: 50px;
  position: absolute;
  outline: none;
  left: 50%;
  margin-left: -25px;
  top: -25px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;  
}
.go-top:hover {
    background-color: #fff;
}
.go-top:after {
    content: "\f077";
    position: absolute;
    color: #fff;
    text-indent: 0;
    font-family: 'FontAwesome';
    left: 13px;
    top: 8px;
    font-size: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.go-top:hover:after {
    color: #333;
}
.flat-tabs{
  padding: 20px;
  background: #fff;
}
.tab-pane{
  padding-top: 20px;
}
.flat-download {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,.12);
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    padding: 30px;
    color: #fff;
    border-color: transparent;
    background-color: #fb2856;
    overflow: hidden;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #000;
}
.flat-tabs .nav-link{
  color: #fb2856;
}
.paira1 {
    color: #fb2856;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.gallery .col-md-4{
  padding-bottom: 30px;
}
.contact-details{
  background: #fb2856;
  padding: 30px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-details h3{
  color: #fff;
  font-weight: bold;
}
.contact-details p,.contact-details p a{
  font-size: 18px;
  text-shadow: 2px 2px 2px black;
  color: #fff;
}
.contact-details p:last-child{
  margin-bottom: 0;
}
.text-content h2{
  font-weight: bold;
}
.text-content p{
  font-size: 16px;
}
.flat-download .content .text-content {
    padding-right: 28px;
    float: left;
    width: 390px;
    padding-left: 30px;
}
.flat-download .content a.button {
    padding: 14px 30px;
    line-height: 20px;
    float: right;
    margin-top: 22px;
    background: #7f1917;
    color: #fff;
    text-decoration: none;
}
.fwp{
  display: none;
}
.callback:hover{
  text-decoration: none;
  color: #fff;
}
.sticky-wrapper {
  position: relative;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}
.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.footer-about img{
  width: 250px;
}
a.number.nav-link{
  display: none;
}
@media only screen and (max-width: 767px){
  .navbar-nav-scroll{
     max-height: 100% !important;
  }
  a.number.nav-link{
    display: block;
  }
  .top-header{
    display: block;
  } 
  .serv .col-md-4{
    margin-bottom: 20px;
  }
  .top-header > div, .top-header div:last-child{
    text-align: center;
    margin-bottom: 5px;
  }
  .top-header > div > .marquee{
    width: 110%;
  } 
  .top-header div:nth-child(2){
    padding: 10px 0;
  }
  .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }  
  .navbar-toggler-icon{
    color: #000;
  }
  .gatsby-image-wrapper-constrained{
    width: 100%;
  }  
}
@media only screen and (max-width: 600px) {

  h2.title{
    margin: 0;
  }
  .title-section{
    margin-bottom: 20px;
  }
  .pad60{
    padding: 30px 0;
  }
  .homeheader1{
    padding: 30px 0;
  }
  .homeheader1  h2.title{
    margin-bottom: 20px;
  }
 
  .two-columns .object{
    width: 100%;
    margin-bottom: 10px;
  }
  .flat-download .content .text-content{
    margin-bottom: 10px;
    padding-left: 0;
  }
  .flat-download .content a.button{
    float: none;
  }
  .gatsby-image-wrapper > div {
    max-width: 600px !important;
  }
  .footer-content{
    margin-bottom: 57px;
  }
  .fwp{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fb2856;
    padding: 10px 0;
    color: #fff;
  }
  .fwp a{
    color: #fff;
    display: block;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .fwp a:hover{
    color: #fff;    
    text-decoration: none;    
  }
}
